@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}
#banner{
    width: 1324px;
    height: 635px;
    background-image: linear-gradient(
       0deg, 
        rgba(9, 9, 9, 0.97) 3.482%,
        rgba(16, 16, 16, 0) 101.632%), 
        url("../assets/hero-bg.png");    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

}
#banner .banner_data{
    width: 705px;
    height: 202px;    
    text-align: center; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}

.banner_data h4{
    opacity: 0.8;
    color: rgb(255, 255, 255);    
    font-size: 23px;
    font-weight: 600;    
}
.banner_data h1{
   color: rgb(255, 255, 255);
   font-size: 45px;
   font-weight: 700; 
}
.banner_data p{
  opacity: 0.7;
  color: rgb(255, 255, 255);  
  font-size: 13px;
  font-weight: 500;
}
.btn{
    padding: 10px 20px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    color: white;
    margin-top: 23px;
    cursor:pointer
}
#cardbox{
    width: 1324px;
    height: 600px; 
    display: flex;    
    align-items: center;
    justify-content: center;    
    margin: 0 auto;    
}
.cardbox_list_container{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 910px;  
}
.cardbox_container{
    width: 910px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    border: 2px dashed rgb(204, 204, 204);
    border-radius: 10px;
    
}
.cardbox_container header{
    text-align: center;
    width: 600px;
    height: 118px;
}
.cardbox_container header p{
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
}
.cardbox_container header h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 33px;
    font-weight: 700;    
    
}

.cardbox_container .cardbox_list{
  width: 293px;  
  height: 360px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.cardbox_list > img{
   width: 100%; 
   border: 2px dashed rgb(161, 161, 161);
   border-radius: 16px;
}
.cardbox_list > a{
   color: rgb(16, 16, 16);
   font-size: 17px;
   font-weight: 600;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 8px;
   background: rgba(82, 195, 3, 0.15);
}
.cardbox_list > h1{
    color: rgb(16, 16, 16);    
    font-size: 28px;
    font-weight: 600;    
}
.cardbox_list > p{
    color: rgb(16, 16, 16);    
    font-size: 13px;
    font-weight: 500;    
    opacity: 0.7;
    text-align: center;
    
}

